
  h1 {
    font-family: 'Arial', sans-serif;
    font-size: 34; /* Adjust size as needed */
    color: #020000; /* Example color */
    text-align: center; /* Center the header title */
    margin: 0; /* Adjust margins as needed */
    padding: 45px 0; /* Example padding */
  }
  
  /* Styling for h2 */
  h2 {
    font-family: 'Arial', sans-serif;
    color: #555;
    text-align: center;

  }
  
  /* You can add similar styles for h3, h4, h5, h6 */
  h3 {
    font-family: 'Arial', sans-serif;
    color: #777;
  }